<a href="https://colab.research.google.com/github/qt19623/qt19623.github.io/blob/main/week7/scraperlec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd

In [ ]:
tables=pd.read_html('https://en.wikipedia.org/wiki/Gini_coefficient')

In [ ]:
df=tables[6]

In [1]:
print (tables)

NameError: ignored

In [ ]:
print (tables[6])

   Year  World Gini coefficients[41]
0  1988                         0.80
1  1993                         0.76
2  1998                         0.74
3  2003                         0.72
4  2008                         0.70
5  2013                         0.65

In [ ]:
df.columns=['Year','World Gini coefficients[41]']

In [ ]:
df.sort_values(by='Year')

   Year  World Gini coefficients[41]
0  1988                         0.80
1  1993                         0.76
2  1998                         0.74
3  2003                         0.72
4  2008                         0.70
5  2013                         0.65

In [ ]:
df=df.rename(columns={"World Gini coefficients[41]":"World Gini coefficients"})

In [ ]:
print (df)

   Year  World Gini coefficients
0  1988                     0.80
1  1993                     0.76
2  1998                     0.74
3  2003                     0.72
4  2008                     0.70
5  2013                     0.65

df=df.sort_values(by='Year')

In [ ]:
df.to_csv("my_data.csv")